@using RentalOfPremises.ViewModels
@model PlacementFilterViewModel 
<div class="col-xl-3 offset-xl-1 col-lg-3">
    <!-- Start Sidebar Area -->
    <div class="siderbar-section">
        <form asp-action="Index" asp-controller="Home" method="get">
            <div class="sidebar-single-widget">
                    <h6 class="sidebar-title title-border">Город</h6>
                    <div class="sidebar-content">
                        <div class="filter-type-select">
                            <ul>
                                @foreach (var item in Model.AvailableCities)
                                {
                                    <li>
                                        <label class="checkbox-default" for="city">
                                            <input type="checkbox" name="SelectedCities" value="@item.Value" id="city" 
                                            @if(Model.SelectedCities != null && Model.SelectedCities.Contains(item.Value)){ <text> checked </text> }/>
                                            <span style="font-size: 18px;">@item.Text</span>
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="sidebar-single-widget">
                <h6 class="sidebar-title title-border">Районы</h6>
                <div class="sidebar-content">
                    <div class="filter-type-select">
                        <ul>
                            @foreach (var item in Model.AvailableAreas)
                            {
                                <li>
                                    <label class="checkbox-default" for="area">
                                        <input type="checkbox" name="SelectedAreas" value="@item.Value" id="area" 
                                        @if(Model.SelectedAreas != null && Model.SelectedAreas.Contains(item.Value)){ <text> checked </text> }/>
                                        <span style="font-size: 18px;">@item.Text</span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Start Single Sidebar Widget -->
            <div class="sidebar-single-widget">
                <h6 class="sidebar-title title-border">Цена</h6>
                <div class="sidebar-content">
                    <input type="number" class="js-range-slider" style="border: 1.5px solid #c2c2c2; padding-left: 5px; margin-bottom: 5px; border-radius: 0.2rem;" name="MinPrice" value="@Model.MinPrice" placeholder="От"/><br/>
                    <input type="number" class="js-range-slider" style="border: 1.5px solid #c2c2c2; padding-left: 5px; border-radius: 0.2rem;" name="MaxPrice" value="@Model.MaxPrice" placeholder="До"/>
                </div>
            </div> <!-- End Single Sidebar Widget -->

            <!-- Start Single Sidebar Widget -->
            <div class="sidebar-single-widget">
                <h6 class="sidebar-title title-border">Площадь</h6>
                <div class="sidebar-content">
                    <input type="number" class="js-range-slider" style="border: 1.5px solid #c2c2c2; padding-left: 5px; margin-bottom: 5px; border-radius: 0.2rem;" name="MinSquare" value="@Model.MinSquare" placeholder="От"/><br/>
                    <input type="number" class="js-range-slider" style="border: 1.5px solid #c2c2c2; padding-left: 5px; border-radius: 0.2rem;" name="MaxSquare" value="@Model.MaxSquare" placeholder="До"/>
                </div>
            </div> <!-- End Single Sidebar Widget -->
            <button class="btn btn-sm btn-default-outline mt-3"  style="width: 100%" >Фильтр</button>
        </form>
    </div> 
    <!-- End Sidebar Area -->
</div>