@model ICollection<RentalOfPremises.Models.Placement>
@{
    if(ViewBag.Layout != null)
    {
        Layout = ViewBag.Layout;
    }
}
@if(@Model.Count == 0)
{
    <h2>Нет помещений</h2>
}
else
{
    <div class="table_page table-responsive">
        <table>
            <thead>
                <tr>
                    
                    <th>Город</th>
                    <th>Район</th>
                    <th>Улица</th>
                    <th>Дом</th>
                    <th>Арендуется</th>
                    <th>Страница</th>
                    <th>Изменение</th>
                    <th>Удаление</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var placement in @Model)
            {   
                <tr>
                    <td style="min-width: 0;">@placement.City</td>
                    <td style="min-width: 0;">@placement.Area</td>
                    <td style="min-width: 0;">@placement.Street</td>
                    <td style="min-width: 0;">@placement.House</td>
                    @if(placement.Deal != null)
                    {
                        <td>Да</td>
                    }
                    else
                    {
                        <td>Нет</td>
                    }
                    <td ><a asp-action="Index" asp-controller="Placement" asp-route-id="@placement.Id"><img src="~/images/icons/browser.png" alt=""></a></td>
                    <td style="min-width: 0;"><a asp-action="Update" asp-controller="Placement" asp-route-id="@placement.Id"><img src="~/images/icons/edit.png" alt=""></a></td>
                    <td style="min-width: 0;"><a asp-action="Delete" asp-controller="Placement" asp-route-id="@placement.Id"><img src="~/images/icons/trash_16.png" alt=""></a></td>
                </tr>
            }
            </tbody>
        </table>
        
    </div>
}
<a class="btn btn-sm btn-default-outline mt-3" asp-action="Create" asp-controller="Placement">Добавить помещение</a>

