@model ICollection<RentalOfPremises.Models.User>
@{
}
<div class="body-wrapper container-fluid p-0">
    <!-- content area -->
    <div class="content-wrapper" style="margin-left: 0px;">
        <div class="doc-hero-wrap">
            <div class="hero-wrap-inner">
                <h2 class="title">Пользователи</h2>
            </div>
        </div>
            <!-- Getting start -->
        <div class="content-section" id="users" style="display: block;">
            <div class="table_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>ФИО</th>
                        <th>Серия паспорта</th>
                        <th>Код паспорта</th>
                        <th>Изменение</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in @Model)
                    {   
                        <tr>
                            <td style="min-width: 0; text-transform: none;">@user.Id</td>
                            <td style="min-width: 0; text-transform: none;">@user.Login</td>
                            <td style="min-width: 0; text-transform: none;">@user.Password</td>
                            <td style="min-width: 0; text-transform: none;">@user.PhysicalEntity.Surname @user.PhysicalEntity.Name @user.PhysicalEntity.Patronymic</td>
                            <td style="min-width: 0; text-transform: none;">@user.PhysicalEntity.Passport_Serial</td>
                            <td style="min-width: 0; text-transform: none;">@user.PhysicalEntity.Passport_Code</td>
                            <td style="min-width: 0; text-transform: none;"><a asp-action="UpdateUser" asp-controller="Admin" asp-route-id="@user.Id"><img src="~/images/icons/edit.png" alt=""></a></td>
                            <td style="min-width: 0; text-transform: none;"><a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id"><img src="~/images/icons/trash_16.png" alt=""></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-sm btn-default-outline mt-3" asp-action="CreateUser" asp-controller="Admin">Добавить</a>
            </div>
        </div>
    </div>
</div>
