@model ICollection<RentalOfPremises.Models.Deal>
<div class="faq-section section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h3 class="title">Заявки на аренду помешений</h3>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        @if (@Model.Count == 0)
                        {
                            <h2>Нет заявок</h2>
                        }
                        else
                        {
                            @foreach(var deal in @Model)
                            {
                                <div class="faq-accordian-single-item">
                                    <input id="item-1" name="accordian-item" type="radio" checked="">
                                    <label for="item-1">@deal.Renter.Surname @deal.Renter.Name[0]. хочет арендовать у вас помещение</label>
                                    <div class="item-content">
                                        <p>Помещение: г.@deal.Placement.City ул.@deal.Placement.Street @deal.Placement.House</p>
                                        <p>Дата аренды: с @deal.StartDateRental.ToShortDateString() до @deal.EndDateRental.ToShortDateString()</p>
                                        <p>Вид деятельности: @deal.TypeOfActivity</p>
                                        <p>Ремонт: @deal.Repairs</p>
                                        <p>
                                            <a asp-action="ConcludeDeal" asp-controller = "Home" asp-route-dealId="@deal.Id" class="btn btn-sm btn-radius btn-default mb-4" type="submit" >Заключить договор</a>
                                            <a asp-action="DeleteDeal" asp-controller = "Home" asp-route-dealId="@deal.Id" class="btn btn-sm btn-radius btn-default mb-4" type="submit" >Отклонить</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 